<launch>
  <node pkg="mocap_vicon" type="mocap_vicon_node" name="vicon" output="screen">
    <param name="server_address" value="192.168.1.39"/>
    <param name="frame_rate" value="200"/>
    <param name="max_accel" value="10.0"/>
    <param name="publish_tf" value="true"/>
    <param name="fixed_frame_id" value="vicon"/>
    <rosparam param="model_list">[]</rosparam>
    <remap from="/vicon/amiro7/odom" to="amiro7/odom"/>
  </node>
</launch>
